/*https://github.com/nothingrandom/default.css*/

html, body {
	height: 100%;
	/*allows min/max-height to be set for wrappers in the style css*/
}

body {
	margin: 0;
	padding: 0;
	/*prevents any in browser margins and paddings*/
	cursor: default;
	/*keeps cursor as an arrow or a hand when hovering over a link*/
	text-rendering: optimizeLegibility;
	/*should cause text to be as readable as possible*/

}

img {
	pointer-events: none;
	/*This stops an image from being right clicked and saved (or dragged on Mac).
	It also means that you cannot use an image as a link.
	To use an image as a link set the linked image class/id to "pointer-events: auto"*/
}

header, section, footer, aside, nav, main, article, figure {
	display: block;
	/*This is the default setting on new browser, set so old browsers also view it the same*/
}

@media screen and (max-width:500px) {
	body {
		-webkit-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-mos-text-size-adjust: none;
		/*this is to stop iOS, Windows, and Firefox phones from changing text size*/
		/*currently excludes ipad - change max width to include*/

		/*needs further testing on android*/
	}
}

/*Default font effects for span as follow:*/

span.italic {
	font-style: italic;
}

span.bold {
	font-weight: bold;
}

span.under {
	text-decoration: underline;
}

span.strike {
	text-decoration: line-through;
}

span.upper {
	text-transform: uppercase;
}
