// https://github.com/nothingrandom/reset.css

// based off of
// @see normalize: http://necolas.github.io/normalize.css/
// @see Reset CSS: http://meyerweb.com/eric/tools/css/reset/
// with extras taken from bootstrap/foundation

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	// overflow-y: scroll;
	// Prevent text resize after orientation change on iOS
	-mos-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	overflow-x: hidden;
	height: 100%;
	font-size: 1em;
}

body {
	position: relative;
	min-height: 100%;

	// Remove default margin
	margin: 0;
	padding: 0;

	cursor: default;

	// Make text as readable as possible
	text-rendering: optimizeLegibility;
}

// HTML 5 Display definitions
// ==============================

// HTML5 block elements not defined correctly in IE 8-11 and Firefox.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

// Inline block not defined correctly in IE 8-9
audio,
canvas,
progress,
video {
	display: inline-block;
}

// Remove gap between elements and their containers
audio,
canvas,
iframe,
img,
progress,
svg,
video {
	vertical-align: middle;
}

// Stop modern browsers from showing auto without controls.
// Removes excess height in iOS 5 devices
audio:not([controls]) {
	display: none;
	height: 0;
}

// Fix the hidden styling in IE 8-10
// Hide the template element in IE 8-11, Safari, and old versions of Firefox
[hidden],
template {
	display: none;
}

// Links
// ==============================

// Remove that gray background color from links in IE 10
a {
	background-color: transparent;

	&:hover {
		cursor: pointer;
	}
}

// Text
// ==============================

// Styling not present in IE 8-11, Safari, and Chrome
abbr[title] {
	border-bottom: 1px dotted;
}

// Style set to bold
b,
strong {
	font-weight: bold;
}

// Styling not present in Safari and Chrome
dfn {
	font-style: italic;
}

// Styling not present in IE 8-9
mark {
	background: #FFFF00;
	color: #000000;
}

// Fixes inconsistency across all browsers
small {
	font-size: 80%;
}

// Prevent sub and sup from effecting line height
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

// @see https://twitter.com/miketaylr/status/12228805301
::selection,
::-moz-selection {
	text-shadow: none !important;
}

// Embedded content
// ==============================

// Remove border when inside link in IE 8-10
// Set as a block for styling
img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

// Correct overflow hidden in IE 9-11
svg:not(:root) {
	overflow: hidden;
}

iframe {
	border: 0;
}

// Grouping content
// ==============================

// Margin not present in IE 8-9 and Safari
figure {
	margin: 1em 40px;
}

// Fixes differences across Firefox and other browsers
hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

// Contain overflow
pre {
	overflow: auto;
}

// Fixes odd strange 'em' unit font size rendering in browsers
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

// Forms
// ==============================

// Limitation: By default, Chrome and Safari on OS X allow limited styling of 'select', unless a border is set
// Fixes variations of margins in Firefox, Safari, and Chrome
// Correct color not being inherited
// Correct font properties not being inherited
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

// Fixes overflow set to hidden in IE 8-11
button {
	overflow: visible;
}

// Fixes inconsistency with 'text-transform' inheritance for 'button' and 'select'
// Button style in IE 8-11, Firefox, and Opera
// Select style in Firefox
button,
select {
	text-transform: none;
}

// Avoid webkit bug in Android 4 with native audio and video controls
// Fix inability to style clickable 'input' types in iOS 6
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-moz-appearance: button;
	-webkit-appearance: button;
	cursor: pointer;
}

// Set default cursor for disabled elements
button[disabled],
html input[disabled] {
	cursor: default;
}

// Remove inner padding and border in Firefox
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

// Fix Firefox setting 'line-height' on 'input' using '!important' in the UA stylesheet
input {
	line-height: normal;
}

// Fix 'box-sizing' set to 'content-box' in IE 8-10
// Remove excess padding in IE 8-10
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

// Fix the cursor style for Chrome's buttons
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

// Fix 'box-sizing' set to 'border-box' in Safari and Chrome
// Fix 'appearance' set to 'searchfield' in Safari and Chrome
input[type='search'] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

// Remove inner padding and search cancel button in Safari and Chrome on OS X
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: none;
}

// Make margin, padding, and border consistent
fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid #C0C0C0;
}

// Remove padding for usability
// Correct color not being inherited in IE 8-11 (yes, border really does fix this)
legend {
	padding: 0;
	border: 0;
}

// Remove default vertical scrollbar in IE 8-11
// Only allow for vertical resize
textarea {
	overflow: auto;
	resize: vertical;
}

// Prevent inherit from lines 84-88
optgroup {
	font-weight: bold;
}

// Tables
// ==============================

// Remove spacing between table cells
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

// Lists
// ==============================

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Tab Index
// ==============================

// Prevent focus outline on links that cannot be accessed via keyboard
[tabindex='-1']:focus {
	outline: none !important;
}

// Helper classes
// ==============================
.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}
